{% extends "orders/layout.html" %}
{% load static %}
{% block body_block %}
	<br />
	<br />
	<br />

    <div class="eis-login">
		<img class="eis-logo" src="{% static 'orders/logo.png' %}">
		<h3>Log In</h3>

		<div class="eis-red">
		<p>{{ message }}</p>
		</div>
		<form method="post">
			{% csrf_token %}
			<p><input id="user_name" class="eis-field" type="text" name="username" placeholder="user name" maxlength="50" size="30"></p>
			<p><input class="eis-field" type="password" name="password" placeholder="password" maxlength="50" size="30"></p>
			<button class="eis-imgbutton" id="submit_button" formaction="{% url 'mylogin' %}"><img class="eis-pic" alt="Go" src="{% static 'orders/send.png' %}" /></button>
			<br />
			<p><a href="{% url 'mysignup' %}">New Here? Sign Up!</a></p>
		</form>

		<br />

	</div>


{% endblock %}

{% block js_block %}{% endblock %}
