{% extends "orders/layout.html" %}
{% load static %}
{% block body_block %}
	<br />
	<br />

    <div class="eis-login">
		<img class="eis-logo" src="{% static 'orders/logo.png' %}">
		<h3>Sign Up</h3>
		<div class="eis-red">
			<p>{{ message }}</p>
			</div>	
		<form action="{% url 'mysignup' %}" method="post">
			{% csrf_token %}
			<p><input class="eis-field" type="text" name="username" placeholder="user name" maxlength="50" size="30"></p>
			<p><input class="eis-field" name="first_name" placeholder="first name" maxlength="50" size="30"></p>
			<p><input class="eis-field" name="last_name" placeholder="last name" maxlength="50" size="30"></p>
			<p><input class="eis-field" name="email" placeholder="email" maxlength="50" size="30"></p>
			<p><input class="eis-field" type="password" name="password" placeholder="your password" maxlength="50" size="30"></p>
			<p><input class="eis-field" type="password" name="passdupe" placeholder="repeat password" maxlength="50" size="30"></p>
			<button class="eis-imgbutton" formaction="{% url 'mysignup' %}"><img class="eis-pic" alt="Go" src="{% static 'orders/send.png' %}" /></button>

			<br />
			<p><a href="{% url 'mylogin' %}">Returning user? Log in!</a></p>
		</form>

		<br />

	</div>

{% endblock %}
{% block js_block %}{% endblock %}
