{% extends "orders/layout.html" %}
{% load static %}
{% block body_block %}

<form id="eis_menu">
    {% csrf_token %}
    <div class="eis-menuband">
        <button class="eis-imgbutton" formaction="{% url 'mylogout' %}"><img class="eis-pic" alt="out" src="{% static 'orders/logout.png' %}" /></button>
        <img class="eis-logo" src="{% static 'orders/logo.png' %}">
        <button class="eis-imgbutton" id="orders_menu"><img class="eis-pic" alt="info" src="{% static 'orders/order.png' %}" /></button>
    </div>
</form>

{% for pr in dlist %}
{% ifchanged %}<div class="eis-group">{{ pr.category }}</div>{% endifchanged %}

<div class="eis-prod">
    {% ifchanged %}<div class="eis-prod-name">{{ pr.name }}</div>{% else %}<div></div>{% endifchanged %}
    <div class="eis-prod-type"> {{ pr.type }}</div>
    <div class="eis-prod-price">${{ pr.price }}</div>
</div>

{% endfor %}
<br />

<div id="mess_wait" class="eis-confirm">
    <br />
    <div class="eis-cart-title"><span id="mess_message" class="eis-title"></span></div>
    <br />
    <input type="image" class="eis-pic" id="mess_tick" alt="Ok" src="{% static 'orders/tick.png' %}" >
    <br />
</div>

<div id="order_pane" class="eis-float">
    <br />
    <div class="eis-title"><span>Order List</span></div>
    <br />
    <div id="order_main">
        <div id="order_sub"></div>
    </div>
    <br />
    <input type="image" class="eis-pic" id="order_close" alt="Ok" src="{% static 'orders/tick.png' %}" >
    <br />
    <br />
</div>


<div id="status_pane" class="eis-status">
    <br />
    <div class="eis-title"><span>Status for Order ID: </span><span id="status_orderid"></span></div>
    <br />
    <div id = "status_options"></div>
    <br />
    <div class="eis-yesno">
        <input type="image" class="eis-yesno-item" id="status_pane_ok" alt="Ok" src="{% static 'orders/tick.png' %}" >
        <input type="image" class="eis-yesno-item" id="status_pane_cancel" alt="Cancel" src="{% static 'orders/cancel.png' %}" >
    </div>
    <br />
</div>


{% endblock %}
{% block js_block %}
<script type="text/javascript" src="{% static 'orders/staff.js' %}"></script>
{% endblock %}

