@media screen and (max-width: 559px) {
  .eis-root {
    width: 400px;
    padding: 12px;
    margin: 0 auto;
  }

  #eis_menu {
    width:400px;
    margin: 0 auto;
  }
  
  .eis-menuband {
    padding: 12px;
    width: 100%;
    height: 40px;
  }

  .eis-group {
    margin: 0 auto;
    width: 400px;
  }
  .eis-prod {
    margin: 0 auto;
    width: 400px;
  }
  
  .eis-float {
    width: 400px;
    height: 520px;
    top: 48px;
    left: 12px;
    padding:12px;  
  }

  .eis-status {
    width: 300px;
    top: 96px;
    left: 24px;
    padding:12px;  
  }

  .eis-confirm {
    width: 360px;
    height: 200px;
    padding: 12px;
    top: 128px;
    left: 36px;
  }

  .eis-field {
    font-size: medium;
    padding: 8px 4px;
    width: 80%;
  }

  .eis-button {
    font-size: medium;
    padding: 4px 12px;
  }

  .eis-oname {
    width: 340px;
    padding: 8px 4px;
  }
     
}

@media (min-width: 560px) and (max-width: 760px) {
  .eis-root {
    width: 560px;
    padding: 16px;
    margin: 0 auto;
  }

  #eis_menu {
    width:560px;
    margin: 0 auto;
  }

  .eis-menuband {
    padding: 16px;
    width: 100%;
    height: 40px;
  }

  .eis-group {
    margin: 0 auto;
    width: 560px;
  }
  .eis-prod {
    margin: 0 auto;
    width: 560px;
  }
  
 .eis-float {
    width: 560px;
    height: 520px;
    top: 48px;
    left: 12px;
    padding:16px;  
  }

  .eis-status {
    width: 300px;
    top: 96px;
    left: 24px;
    padding:12px;  
  }
  
 .eis-confirm {
    width: 360px;
    height: 200px;
    padding: 12px;
    top: 128px;
    left: 36px;
  }
  
  .eis-button {
    font-size: larger;
    padding: 4px 16px;
  }

  .eis-field {
    font-size: larger;
    padding: 8px 4px;
    width: 80%;
  }

  .eis-oname {
    width: 480px;
    padding: 8px 4px;
  }
    
}

@media (min-width: 761px) {
  .eis-root {
    width: 600px;
    padding: 16px;
    margin: 0 auto;
  }

  #eis_menu {
    width:600px;
    margin: 0 auto;
  }
  
  .eis-menuband {
    padding: 16px;
    width: 100%;
    height: 40px;
  }

  .eis-group {
    margin: 0 auto;
    width: 600px;
  }
  .eis-prod {
    margin: 0 auto;
    width: 600px;
  }

  .eis-float {
    width: 600px;
    height: 520px;
    top: 10%;
    left: 10%;
    padding:16px;  
  }

  .eis-status {
    width: 300px;
    top: 15%;
    left: 15%;
    padding:12px;  
  }

  .eis-confirm {
    width: 360px;
    height: 200px;
    padding: 16px;
    top: 20%;
    left: 20%;
  }

  .eis-field {
    font-size: large;
    padding: 8px 4px;
    width: 80%;
  }

  .eis-button {
    font-size: large;
    padding: 4px 20px;
  }

  .eis-oname {
    width: 560px;
    padding: 8px 4px;
  }
  
}

.eis-root {
  max-width: 960px;
  width:100%;
  margin: 0 auto;
  font-family: Verdana, Georgia, sans-serif;
  font-size: medium;
}

h3 {
  text-align: center;
  color: goldenrod;
}

.eis-imgbutton {
  background: none;
  border: none;
  cursor: pointer;
}

.eis-logo {
  width: 128px;
  height: 40px;
  margin: 0 auto;
}

.eis-float {
  display: none;
  position: fixed;
  text-align: center;
  border: 1px solid lightgray;
  z-index: 100;
  background-color: #faf7e7;
  overflow-y: scroll;
}

.eis-status {
  display: none;
  position: fixed;
  text-align: center;
  border: 1px solid lightgray;
  z-index: 110;
  background-color: white;
}

.eis-status-option {
  font-size: large;
  padding: 8px;
}
.eis-status-option:hover {
  cursor: pointer;
  font-weight: bold;
}

#status_options {
  width: 80%;
  border: 1px solid lightgray;
  margin: auto;
}

.eis-confirm {
  display: none;
  position: fixed;
  text-align: center;
  border: 1px solid chocolate;
  z-index: 150;
  background-color: white;
}

.eis-login {
  width: 320px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  border: 1px solid lightgrey;
}

.eis-red {
  color: indianred;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.eis-pic {
  width: 40px;
  height: 40px;
  margin: auto;
}

.eis-pic:hover {
  background-color: bisque;
}

.eis-yesno {
  width:240px;
  height:48px;
  margin:auto;
  text-align: center;
}

.eis-yesno-item {
  width: 40px;
  height: 40px;
  margin: auto 32px;
}

.eis-yesno-item:hover {
  background-color: bisque;
}

.eis-group {
  font-size: larger;
  font-weight: bolder;
  color: chocolate;
  padding: 12px 0;
  text-align: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #dfdfdf;
}

.eis-prod {
  display: grid;
  column-gap: 0px;
  grid-template-columns: 60% 20% 20%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #dfdfdf;
}
.eis-prod:hover {
  background-color: #faf7e7;
}

.eis-prod-name {
  padding: 12px 4px;
}

.eis-prod-type {
  padding: 12px 4px;
}

.eis-prod-buy {
  width: 100%;
  text-align: right;
  padding: 12px 4px;
  color: goldenrod;
  font-size: larger;
  font-weight: bold;
  text-decoration: underline;
}
.eis-prod-buy:hover {
  cursor: pointer;
  color: chocolate;
}

.eis-prod-price {
  width: 100%;
  text-align: right;
  padding: 12px 4px;
  color: darkseagreen;
  font-size: larger;
  font-weight: bold;
}

.eis-select-list {
  width: 75%;
  height: 50%;
  overflow-y: scroll;
  border-style: solid;
  border-color: lightgrey;
  border-width: 1px;
  margin: auto;
}

.eis-selecta {
  width: 100%;
  height: 40px;
  font-size: large;
  padding: 8px 4px;
  background-color: white;
}

#prod_parts {
  display:none;
}

#prod_extras {
  display:none;
}

#cart_big_total {
  font-size: x-large;
  padding: 8px 16px;
  color: chocolate;
  background-color: white;
}

.eis-duo {
  display: grid;
  column-gap: 12px;
  row-gap: 8px;
  width: 100%;
  grid-template-columns: 75% 20%;
  text-align: left;
  margin-bottom: 8px;
}

.eis-tl {
  font-size: medium;
  padding: 8px 4px;
}

.eis-tr {
  font-size: medium;
  padding: 8px 4px;
  text-align: right;
}

.eis-quatro {
  display: grid;
  column-gap: 4px;
  width: 100%;
  grid-template-columns: 25% 25% 25% 20%;
  text-align: left;
}

.eis-qt {
  font-size: medium;
  padding: 8px 4px;
  color: chocolate;
  text-align: right;
  font-weight: bolder;
}

.eis-cart-head {
  width: 100%;  
  padding: 16px 0;
  text-align: center;
}

.eis-cart-title {
  padding: 4px;
  color: chocolate;
}

.eis-cart-bigtotal {
  padding: 4px;
  text-align: right;
  color: chocolate;
  font-weight: bold;
  font-size: large;
}

.eis-cart-list {
  display: grid;
  grid-template-columns: 50% 15% 20% 10%;
  column-gap: 4px;
  width: 100%;  
}

.eis-cart-tex {
  padding: 8px 4px 4px 4px;
  text-align: left;
}

.eis-cart-nq {
  padding: 8px 4px 4px 4px;
  text-align: left;
  color: chocolate;
}

.eis-cart-nt {
  padding: 8px 4px 4px 4px;
  text-align: right;
  color: chocolate;
}

.eis-cart-del {
  padding: 4px;
  color: goldenrod;
  font-size: x-large;
  text-align: right;
}

.eis-cart-del:hover {
  background-color: bisque;
  cursor: pointer;
}

#cart_tick {
  display: none;
  text-align: center;
}

#mess_tick {
  display: none;
  text-align: center;
}

.eis-title {
  color: chocolate;
  text-align: center;
  font-size: larger;
}

.eis-order-list {
  display: grid;
  grid-template-columns: 20% 25% 25% 25%;
  column-gap: 4px;
  width: 100%;  
}

.eis-order-nr {
  text-align: right;
  color: chocolate;
  padding: 8px 4px;
}

.eis-order-tx {
  padding: 8px 4px;
  text-align: left;
}

.eis-order-ta {
  padding: 8px 4px;
  color: chocolate;
}

#order_sub {
  min-width: 280px;
}

.eis-order-flex{
  display: flex;
  width: 100%;  
  flex-wrap: wrap;
  margin: auto;
  text-align: left;
}

.eis-oclient {
  width: 160px;
  padding: 8px 4px;
  color: chocolate;
}

.eis-oid {
  width: 100px;
  padding: 8px 4px;
  color: chocolate;
  font-weight: bolder;
}

.eis-ostamp {
  width: 140px;
  padding: 8px 4px;
}

.eis-ototal {
  width: 120px;
  padding: 8px 4px;
  color: chocolate;
}

.eis-ostatus {
  color: goldenrod;
  font-size: larger;  
  width: 120px;
  text-decoration: underline;
  padding: 8px 4px;
}
.eis-ostatus:hover {
  cursor: pointer;
  color: chocolate;
  font-weight: bolder;
}

.eis-oprice {
  width: 100px;
  padding: 8px 4px;
  color: chocolate;
}

.eis-oquantity {
  width: 60px;
  padding: 8px 4px;
  color: chocolate;
  font-weight: bolder;
}

