@media screen and (max-width: 559px) {
  .eis-root {
    padding: 12px;
  }

  .eis-menuband {
    margin-top: 12px;
    margin-bottom: 12px;
    padding: auto 12px;
  }

  #eis_chan {
    padding: 12px;
  }
  #eis_mess {
    margin-top: 24px;
    margin-bottom: 12px;
    padding: 12px;
  }

  .eis-input {
    width: 320px;
    top: 10%;
    left: 12px;
    padding:12px;  
  }

  .eis-logo-input {
    width: 96px;
    height: 40px;
    margin: 12px auto;
  }

  .eis-field {
    font-size: medium;
    padding: 8px 4px;
    width: 80%;
  }

  .eis-chan-list {
    display: block;
    padding:12px;
    text-align: left;
  }

  .eis-stretch {
    padding: auto 12px;
  }
    
}

@media (min-width: 560px) and (max-width: 760px) {
  .eis-root {
    padding: 16px;
  }

  .eis-menuband {
    margin-top: 16px;
    margin-bottom: 16px;
    padding: auto 16px;
  }
  
  #eis_chan {
    padding: 16px;
  }
  #eis_mess {
    margin-top: 32px;
    margin-bottom: 16px;
    padding: 16px;
  }

 .eis-input {
    width: 480px;
    top: 10%;
    left: 10%;
    padding:16px;  
  }
  
  .eis-logo-input {
    width: 96px;
    height: 40px;
    margin: 12px auto;
  }
  .eis-field {
    font-size: larger;
    padding: 8px 4px;
    width: 70%;
  }
  
  .eis-chan-list {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 16px;
    text-align: left;
  }

  .eis-stretch {
    padding: auto 16px;
  }

}

@media (min-width: 761px) {
  .eis-root {
    padding: 16px;
  }

  .eis-menuband {
    margin-top: 16px;
    margin-bottom: 16px;
    padding: auto 16px;
  }

  #eis_chan {
    padding: 16px;
  }
  #eis_mess {
    margin-top: 32px;
    margin-bottom: 16px;
    padding: 16px;
  }

  .eis-input {
    width: 480px;
    top: 20%;
    left: 20%;
    padding:16px;  
  }

  .eis-logo-input {
    width: 120px;
    height: 52px;
    margin: 16px auto;
  }
  
  .eis-field {
    font-size: large;
    padding: 8px 4px;
    width: 60%;
  }

  
  .eis-chan-list {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 20px;
    text-align: left;
  }

  .eis-stretch {
    padding: auto 16px;
  }
}

.eis-root {
  max-width: 960px;
  width:100%;
  margin: auto;
  font-family: Verdana, Georgia, sans-serif;
  font-size: medium;
}


.eis-logo-title {
  width:96px;
  height:40px;
  margin: auto 4px;
}

textarea {
  resize: none;
}

.eis-textarea {
  padding: 4px 4px;
  font-size: larger;
  width: 80%;
}

.eis-input {
  display: none;
  position: fixed;
  text-align: center;
  border: 1px solid lightgray;
  z-index: 100;
  background-color: white;
}

.eis-login {
  width: 320px;
  margin: 20px auto ;
  text-align: center;
  border: 1px solid lightgrey;
}

#eis_chan {
  display: none;
  width: 100%;
  text-align: left;
  border: 1px solid lightgrey;
}

.eis-entry {
  color: goldenrod;
  font-size: larger;
  font-weight: bolder;
}

.eis-entry:hover {
  background-color: bisque;
  color: indianred;
}

.eis-text-wrap {
  margin-top: 8px;
  margin-bottom: 8px;
}

#eis_mess {
  display: none;
  width: 100%;
  text-align: left;
  border: 1px solid lightgrey;
}


.eis-pic {
  width: 40px;
  height: 40px;
  margin: auto;
}

.eis-pic:hover {
  background-color: bisque;
}

.eis-yesno {
  width:240px;
  height:48px;
  margin:auto;
  text-align: center;
}

.eis-yesno-item {
  width: 40px;
  height: 40px;
  margin: auto 32px;
}

.eis-yesno-item:hover {
  background-color: bisque;
}

#eis_menu {
  width:100%;
  display: none;
}

.eis-menuband {
  height: 40px;
  text-align: left;
}

.eis-note {
  font-size:smaller;
  text-align: left;
}

.eis-label {
  text-align: left;
}

.eis-stretch {
  width: 100%;
  height: 40px;
  display: grid;
  text-align:center;
  grid-template-columns: 60px auto 60px; 
}
.eis-stretch-icon {
  width: 40px;
  height: 40px;
  margin: auto;
}
.eis-stretch-icon:hover {
  background-color: bisque;
}
.eis-stretch-title {
  color: indianred;
  font-size: larger;
  font-weight: bolder;
}

.eis-private-title {
  color: indianred;
  font-weight: bolder;
  text-align:center;
}