<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1;">
        <meta name="author" content="ella ilona stern">
        <meta name="description" content="project2 for the cs50/2019 course">
        <title>eistext</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    </head>
    <body>
		<!--   -->
		<!-- page  -->
        <div class="eis-root">

			<div id="eis_menu">
				<div class="eis-menuband">
					<img class="eis-logo-title" src="{{ url_for('static', filename='logo.png') }}">
					<input type="image" alt="Channels" id="menu_list" class="eis-pic" src="{{ url_for('static', filename='list.png') }}">
					<input type="image" alt="Private" id="menu_private" class="eis-pic" src="{{ url_for('static', filename='lock.png') }}">
{% if admin %}
					<input type="image" alt="Nono" id="menu_save" class="eis-pic" src="{{ url_for('static', filename='save.png') }}">
{% endif %}
				</div>
			</div>

			
			<div class="eis-input" id="show_new_channel">
				<form>
					<br />
					<p class="eis-label">Please enter the new channel's name:</p>
					<input class="eis-field" type="text" maxlength="50" id="name_new_channel" value="">
					<p class="eis-note">The channel name may have between 2 and 50 characters; currently it cannot be edited after being sent.</p>
					<br />
					<div class="eis-yesno">
						<input type="image" id="send_new_channel" class="eis-yesno-item" alt="Send" src="{{ url_for('static', filename='send.png') }}">
						<input type="image" id="cancel_new_channel" class="eis-yesno-item" alt="Cancel" src="{{ url_for('static', filename='cancel.png') }}">
					</div>
					<br />
				</form>
			</div>


			<div class="eis-input" id="show_chat">
				<form>
					<p class="eis-label">Please enter your message:</p>
					<textarea class="eis-textarea" maxlength="250" rows="4" id="name_chat" value=""></textarea>
					<p class="eis-note">The message may have between 2 and 250 characters; currently it cannot be edited after being sent.</p>
					<br />
					<div class="eis-yesno">
						<input type="image" id="send_chat" class="eis-yesno-item" alt="Send" src="{{ url_for('static', filename='send.png') }}">
						<input type="image" id="cancel_chat" class="eis-yesno-item" alt="Cancel" src="{{ url_for('static', filename='cancel.png') }}">
					</div>
					<br />
				</form>
			</div>


			<div class="eis-input" id="show_private_chat">
				<form>
					<br />
					<div class="eis-private-title">
					<span>Private Message to </span><span id="private_title"></span>
					</div>
					<br />
					<p class="eis-label">Please enter your message:</p>
					<textarea class="eis-textarea" maxlength="250" rows="4" id="name_private_chat" value=""></textarea>
					<p class="eis-note">The message may have between 2 and 250 characters; currently it cannot be edited after being sent.</p>
					<br />
					<div class="eis-yesno">
						<input type="image" id="send_private_chat" class="eis-yesno-item" alt="Send" src="{{ url_for('static', filename='send.png') }}">
						<input type="image" id="cancel_private_chat" class="eis-yesno-item" alt="Cancel" src="{{ url_for('static', filename='cancel.png') }}">
					</div>
					<br />
				</form>
			</div>
			
			
			<div id="eis_chan">

				<div class="eis-stretch">
					<input type="image" id="menu_add" class="eis-stretch-icon" src="{{ url_for('static', filename='add.png') }}">
					<span class="eis-stretch-title">Channel List</span>
					<input type="image" id="chan_roll" class="eis-stretch-icon" src="{{ url_for('static', filename='roll.png') }}">
				</div>

				<div class="eis-chan-body">
				</div>

			</div>


			<div id="eis_mess">

				<div class="eis-stretch">
					<div>
						<input type="image" id="menu_chat" class="eis-stretch-icon" src="{{ url_for('static', filename='chat.png') }}">
					</div>
					<span id="eis-mess-channel" class="eis-stretch-title">Channel List</span>
					<span></span>
				</div>

				<div class="eis-mess-body">					
				</div>

			</div>

			<br />

        </div>


		{% if admin %}

			<!-- this is for development only, later should be removed-->
			<script>
				function specialStuff() {
					const xhr = new XMLHttpRequest();
					xhr.onreadystatechange = function() {
						try {
							if (this.readyState == 4) {
								if (this.status < 200 || this.status > 299) throw new Error(this.statusText);
								alert(this.responseText)
							}
						} catch (err) {
							alert(err.message)
						}
					}

					try {
						xhr.open("GET", "/saveall", true);
						xhr.timeout = 60000;
						xhr.send();						
					}
					catch (err) {
						alert(err.message);
					}
				}

			</script>

		{% else %}

			<script>
				function specialStuff() {
					return "done";
				}

			</script>

		{% endif %}

		<script src="{{ url_for('static', filename='chat.js') }}"></script>

	</body>
	
</html>
