{% extends "layout.html" %}

{% block go_there %}<a href="{{ url_for('dashboard') }}"><img class="eis-icon" src="{{ url_for('static', filename='back.png') }}"></a>{% endblock %}
{% block manage_session %}<a href="{{ url_for('logout') }}"><img class="eis-icon" src="{{ url_for('static', filename='logout.png') }}"></a>{% endblock %}


{% block present_content %}
	<br />

    <div class="eis-details">
		<div><span>Published in: </span><span>{{ book.year }}</span></div>
		<div><span>Author: </span><span>{{ book.author }}</span></div>
		<div><span>ISBN: </span><span>{{ book.isbn }}</span></div>
		<div><span>Title: </span><span>{{ book.title }}</span></div>

		{% if oklr %}
		<div><span>Our users' ratings: </span><span class="eis-rates">{{ '{:,}'.format(bookex.lcount) }}</span></div>
		<div><span>Our average rating: </span><span class="eis-rates">{{ bookex.ltot }}</span></div>
		{% endif %}

		{% if okgr %}
		<div><span>Goodreads users' ratings: </span><span class="eis-rates">{{ '{:,}'.format(bookex.gcount) }}</span></div>
		<div><span>Goodreads average rating: </span><span class="eis-rates">{{ bookex.gtot }}</span></div>
		{% endif %}
	</div>
	
	<br />

	{% if oklist %}
		<h3 class="eis-title">Reviews</h3>
		<br />
		<div class="eis-comments">
			{% for rev in revs %}
				<div>
					<p><span>Rating: </span><span class="eis-rates">{{ rev.rating }}</span><span> on: </span><span>{{ rev.stamp.strftime("%x %X") }}</span></p>
					<p>Comment: {{ rev.comment }}</p>
				</div>
				<hr>			
			{% endfor %}
		</div>
	{% endif %}
	
	<br />

	{% if oknew %}

		<div class="eis-rateit">
				<br />
				<h4 class="eis-title">Your Rating:</h4>
					<form method="post">
				<div>
					<input type="range" name="rating" min="1" max="5" step="1" value="1">
				</div>
				<br />
				<div>
					<textarea name="comment" rows="4" cols="40" maxlength="1000" placeholder="Your Comment"></textarea>
				</div>
				<br />
				<div>
					<button type="submit" formaction="{{ url_for('addreview', book_id=book.id) }}">Submit</button>
				</div>
			</form>
			</div>

		<br />
	{% endif %}

	<br />

{% endblock %}

