{% extends "layout.html" %}

{% block go_there %}{% endblock %}
{% block manage_session %}{% endblock %}

{% block present_content %}

    <div class="eis-login">

		<img class="eis-logo" src="{{ url_for('static', filename='logo.png') }}">
		<form method="post">
			<p><input type="text" name="user" placeholder="username" maxlength="50" size="30"></p>
			<p><input type="password" name="pwd" placeholder="password" maxlength="50" size="30"></p>
			<p><button type="submit" formaction="{{ url_for(submit_page) }}">{{ submit_text }}</button></p>
			<p><a href="{{ url_for(link_page) }}">{{ link_text }}</a></p>
		</form>

		<br />

	</div>
	
	<br />
	<br />

{% endblock %}
