{% extends "layout.html" %}

{% block go_there %}<a href="{{ url_for(goto_page) }}"><img class="eis-icon" src="{{ url_for('static', filename='back.png') }}"></a>{% endblock %}
{% block manage_session %}{% endblock %}

{% block present_content %}
<div class="eis-issue">
	<br />
	<h2 class="eis-issue-title">Issue:</h2>
	<br />
	<p class="eis-issue-title">{{ message }}</p>
	<br />
	<p class="eis-issue-text"><span>Hit the yellow "back" arrow to continue...</p>
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
</div>
{% endblock %}
