{% extends "members/layout.html" %}
{% load static %}
{% block body_block %}

<br />
<form>
    {% csrf_token %}
    <div class="eis-menuband">
        <button class="eis-imgbutton" id="menu_back"><img class="eis-pic" alt="back" src="{% static 'members/back.png' %}" /></button>
        <span></span>
        <img class="eis-logo-small" src="{% static 'members/logo40.png' %}">
        <span></span>
        <button class="eis-imgbutton" id="menu_logout" formaction="{% url 'mylogout' %}"><img class="eis-pic" alt="out" src="{% static 'members/logout.png' %}" /></button>
    </div>
</form>
<div class="eis-title-lila" id="page_title" data-id="{{ sid }}" data-oid="{{ oid }}" data-ctype="{{ ctype }}" >
<span>{{ title }} </span>
<span class="eis-uni-plus" id="menu_add"> &#x002b;</span>
</div>
<br />

<div id="page_list">
{% for elem in cmnts %}
<div class="eis-dform" id="cx{{ sid }}_{{ elem.id }}">
    <div class="eis-su-text">
    <p id="cc{{ sid }}_{{ elem.id }}">{{ elem.text }}</p>
    </div>
    <div class="eis-su-by">
        <a class="member-to eis-item-link" href="/memberdetails/{{ elem.sender.id }}/">{{ elem.sender.name }}</a>
        <span>  {{ elem.stamp|slice:"5:7" }}-{{ elem.stamp|slice:"8:10" }}-{{ elem.stamp|slice:"2:4" }}</span>
    </div>
    <div>
        {% if elem.sender.id == mid %}
        <span class="uni-edit eis-uni" id="me{{ sid }}_{{ elem.id }}">&#x1f589;</span>
        <span class="uni-dele eis-uni" id="md{{ sid }}_{{ elem.id }}">&#x1f5d9;</span>
        {% endif %}
        {% if elem.sender.id != mid %}
        <span class="uni-flag eis-uni" data-id="{{ elem.id }}">&#x1f56d;</span>
        {% endif %}
    </div>
</div>
{% empty %}
<br />
<br />
<span>There are not yet comments on this study material.</span>
{% endfor %}
</div>

<br />

<div id="cmnt_edit" class="eis-float">
    <div class="eis-title-blue" id="cmnt_operation" data-val=""></div>
    <br />
    <div class="eis-label"><span>Your comment:</span></div>
    <textarea class="eis-textarea" cols="3" name="text" maxlength="240" id="cmnt_text"></textarea>

    <div class="eis-buttons">
        <button class="eis-button" id="cmnt_ok">Submit</button>
        <button class="eis-butred" id="cmnt_cancel">Close</button>
    </div>
</div>

{% endblock %}

{% block js_block %}
<script type="text/javascript" src="{% static 'members/commentlist.js' %}"></script>
{% endblock %}
